<% layout('/layouts/default.html', {title: '收支类别管理', libs: ['validate']}){ %>
<script src="${ctxStatic}/bd/bdCategory/bdCategoryForm.js"></script>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<!--<div class="box-title">
				<i class="fa icon-note"></i> ${text(bdCategory.isNewRecord ? '新增收支类别' : '编辑收支类别')}
			</div> -->
			<div class="box-tools pull-left">
				<% if (isEdit=="true"){ %>
					<a href="javascript:void(0);" class="btn btn-sm" id="btnSubmit4" title="${text('保 存')}"><i class="fa fa-check"></i> ${text('保存')}</a>
				<% } %>
				<a href="javascript:void(0);" class="btn btn-sm" onclick="js.closeCurrentTabPage()" title="${text('关闭')}"><i class="fa fa-reply-all"></i> ${text('关闭')}</a>
			</div>
		</div>
		<#form:form id="inputForm" model="${bdCategory}" action="${ctx}/bd/bdCategory/save" method="post" class="form-horizontal cw_box c_background">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<span id="isEdit" class="hide">${isEdit}</span>
				<#form:hidden path="isNewRecord"/>
				<#form:hidden path="pkCategory"/>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4">${text('上级收支类别')}：</label>
							<div class="col-sm-8">
							<#form:input path="parent.id" maxlength="50"  class="form-control hidden"  />
								<#form:input path="parent.name"  maxlength="50"  class="form-control " readOnly="true"  />
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('组织')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:treeselect id="pkOrg" title="${text('机构选择')}"
									path="pkOrg.officeCode" labelPath="pkOrg.officeName"
									url="${ctx}/sys/office/treeData?officeTypes=1,2"
									class="required" allowClear="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('编码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="code" maxlength="50" class="form-control required" readonly="${bdCategory.isNewRecord}"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="name" maxlength="50" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4 hide">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('本级排序号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="treeSort" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
			    <div class="form-unit cw_btn_taggle">${text('人员信息')}
					<button type="button" class="btn btn-box-tool pull-left btn_taggle" data-show='true' ><i class="fa fa-minus"></i></button>
				</div>
				<div class=''>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group">
								<label class="control-label col-sm-4" title="">
									<span class="required ">*</span> ${text('创建人')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-8 cedit">
										<#form:treeselect id="creator" title="${text('用户选择')}"
										path="creator.userCode" labelPath="creator.userName"
										url="${ctx}/sys/office/treeData?isLoadUser=true"
										class="" allowClear="true" readOnly="true"/>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label class="control-label col-sm-4" title="">
									<span class="required hide">*</span> ${text('创建日期')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-8">
									<#form:input path="createDate" readonly="true" disabled="disabled" maxlength="20" class="form-control Wdate disabled"
										dataFormat="datetime"/>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label class="control-label col-sm-4" title="">
									<span class="required ">*</span> ${text('修改人')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-8 cedit">
										<#form:treeselect id="modifier" title="${text('用户选择')}"
										path="modifier.userCode" labelPath="modifier.userName"
										url="${ctx}/sys/office/treeData?isLoadUser=true"
										class="" allowClear="true" readOnly="true"/>
								</div>
							</div>
						</div>
							<div class="col-xs-4">
							<div class="form-group">
								<label class="control-label col-sm-4" title="">
									<span class="required hide">*</span> ${text('修改日期')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-8">
									<#form:input path="updateDate" readonly="true" maxlength="20" class="form-control Wdate disabled"
										dataFormat="datetime"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer hide">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('bd:bdCategory:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script src="${ctxStatic}/bd/bdCategory/bdCategory.js"></script>
<script>
var zlProject = (${toJson(bdCategory)});
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.$('#dataGrid').dataGrid('refreshTreeChildren',
							$('#parentCode').val(), '${bdCategory.id}');
				});
			}
		}, "json");
    }
});

// 选择上级节点回调方法
function treeselectCallback(id, act, index, layero){
	if (id == 'parent' && (act == 'ok' || act == 'clear')){
		// 创建并初始化下一个节点信息，如：排序号、默认值
		$.get('${ctx}/bd/bdCategory/createNextNode?parentCode='
				+$('#parentCode').val(), function(data){
			$('#treeSort').val(data.treeSort);
		});
	}
}
</script>