<% layout('/layouts/default.html', {title: '合同类型管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<!-- <div class="box-title">
				<i class="fa icon-notebook"></i> ${text('合同类型管理')}
			</div> -->
			<div class="box-tools pull-left">
				<% if(hasPermi('bd:bdHttype:edit')){ %>
					<a href="${ctx}/bd/bdHttype/form?isEdit=true" class="btn btn-default btnTool" title="${text('新增合同类型')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
					<a href="javascript:void(0);" class="btn btn-default" onclick="c_xinzenDown('/js/a/bd/bdHttype/form')" title="${text('新增合同类型')}"><i class="fa fa-plus"></i> ${text('新增下级')}</a>
					<a href="javascript:" id="edit" onclick="c_editBtn('/js/a/bd/bdHttype/bianji?pkHttype')" class="btn btn-default" title="${text('修改合同类型')}"><i class="fa fa-pencil"></i> ${text('修改')}</a>
					<a href="#" class="btn btn-default" onclick="c_delete('pkHttype')" title="${text('批量删除')}"><i class="fa fa-trash-o"></i> 删除 </a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${bdHttype}" action="${ctx}/bd/bdHttype/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('编码')}：</label>
					<div class="control-inline">
						<#form:input path="code" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
                <div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="button" onclick="resetBtn()" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>	
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
     	{header:'${text("节点名称")}', name:'name', index:'a.name', width:250, align:"left", frozen:true, formatter: function(val, obj, row, act){
			if(row.treeLeaf=="0"){
	     		return '( '+row.code+' ) '+'<a href="${ctx}/bd/bdHttype/form?pkHttype='+row.pkHttype+'&isEdit=true" class="btnList" data-title="${text("编辑合同类型")}">'+(val||row.id)+'</a>';
			}else{
	     		return '( '+row.code+' ) '+'<a href="${ctx}/bd/bdHttype/xgform?pkHttype='+row.pkHttype+'&isEdit=true" class="btnList" data-title="${text("编辑合同类型")}">'+(val||row.id)+'</a>';
			}
   	    }},
	    {header:'${text("集团")}', name:'pkOrg.officeName', index:'a.pk_org', width:150, align:"center"},
	    {header:'${text("编码")}', name:'code', index:'a.code', width:150, align:"left"},
		{header:'${text("名称")}', name:'name', index:'a.name', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions',hidden:true, width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('bd:bdHttype:edit')){ %>
		        actions.push('<a href="javascript:void(0);" data-url="${ctx}/bd/bdHttype/bianji?pkHttype='+row.pkHttype+'&isEdit=true" onclick="bianji33(this, false)"   title="${text("编辑合同类型")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			/* 	if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/bd/bdHttype/disable?pkHttype='+row.pkHttype+'" class="btnList" title="${text("停用合同类型")}" data-confirm="${text("确认要停用该合同类型吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/bd/bdHttype/enable?pkHttype='+row.pkHttype+'" class="btnList" title="${text("启用合同类型")}" data-confirm="${text("确认要启用该合同类型吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				} */
				actions.push('<a href="${ctx}/bd/bdHttype/delete?pkHttype='+row.pkHttype+'" class="btnList" title="${text("删除合同类型")}" data-confirm="${text("确认要删除该合同类型及所有子合同类型吗？")}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/bd/bdHttype/form?parentCode='+row.id+'&isEdit=true" class="btnList" title="${text("新增下级合同类型")}"><i class="fa fa-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'code,name,remarks,pkOrg.officeCode,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	},
	ondblClickRow: function(id, rownum, colnum, event){//双击方法
		js.addTabPage($("#dataGrid"), "查看合同类型", "/js/a/bd/bdHttype/form?pkHttype="+id+'&isEdit=false', null, null);//弹出新的标签页
	},
});
</script>
<script src="${ctxStatic}/bd/bdHttype/bdHttypeList.js"></script>