<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>按摩椅设备运营合作合同</title>
	<link rel="stylesheet" href="${ctxStatic}/css/moban.css">
</head>

<body>
    <div class="moban">
        <h2>按摩椅设备运营合作合同</h2>
        <div class="bianhao1">
            <span>合同编号：WG06-QT-2019003</span>
        </div>
        <div class="htxx">
            <div class="left htxx_jia">
                <span>甲方：江苏万谷信息科技有限公司（场地方）</span>
                <span>地址：南京市鼓楼区水佑岗6号</span>
                <span>电话：15996310107</span>
                <span>联系人：张勤</span>
            </div>
            <div class="right htxx_yi">
                <span>乙方： 上海中渥电器有限公司（设备方）</span>
                <span>地址：上海市松江区盛龙路77号</span>
                <span>电话：15151835636</span>
                <span>联系人：张雪青</span>
            </div>



        </div>
        <div class="xuyan">
            <span>鉴于乙方可以提供用于微信支付宝等移动支付方式支付的按摩椅，用于客户体验按摩。甲方可以提供设备摆放空间，双方根据《中华人民共和国合同法》等法律法规，经过充分友好协商就此项目的合作运营达成以下协议。</span>
        </div>

        <div class="zhuti">
            <div class="wasd">一、合作内容：乙方提供付费功能的按摩椅设备，甲方提供放置该设备的场地，顾客支付费用享用按摩。双方根据约定履行各自责任和义务，并分享顾客所支付的费用。</div>
            <div class="wasd">二、合作流程：甲方有需要引进该按摩设备意向，提前30天通知乙方，并通过双方协商在附件中填写引进设备数量、场地摆放位置、分成方式、进场日期等合同要件，双方签字盖章确认。</div>
            <div class="wasd">
                三、场地规划及调整：甲方确定好场地规划后，应与乙方协商达成共识后签署合同附件。规划位置图应标明相应位置。如果在合同期内甲方需要调整设备位置，应双方协商后重新签订附件条款方可移动，双方应遵照有利于设备收益提高的目标调整运营位置。
            </div>
            <div class="wasd">
                四、设备引进：场地规划及合同签署后，由乙方按照约定时间安装调试设备，期间产生的设备运输费用、设备调试费用、安装人员等由乙方负责。设备所属权归乙方所有，合同结束后，乙方有权将设备拆除并运离甲方门店，甲方应该予以配合。合同期间乙方如拆除调换设备应该与甲方协商后方可。
            </div>
            <div class="wasd">五、品质担保：乙方保证运营设备的安全运营，品质符合国家相关规定，保证体验顾客的使用安全。由于设备设计品质的方面造成的人身伤害等事故由乙方负责。</div>
            <div class="wasd">六、设备维护：设备如果在甲方门店发生故障，甲方通知乙方人员调试解决，乙方查明故障原因并自行排除故障。</div>
            <div class="wasd">七、收费方案：1、按摩设备的收费方案由乙方制定，甲方可对该方案提出建议和意见，达成共识后填写于附件中。2、顾客支付的费用由乙方收取。</div>
            <div class="wasd">八、设备运营：
                <div style="overflow: hidden;padding-left:2em;">
                    <div style="width: 74px;float: left;">
                        <span>1、甲方负责：</span>
                    </div>
                    <div style="float: left;text-indent: 0em;">
                        （1）、现场电源供应、开通启动工作。<br />
                        （2）、设备及周边场地日常清洁工作。<br />
                        （3）、甲方代为巡视，但不负责设备安全遭人破坏后果。
                    </div>
                </div>
                <div style="overflow: hidden;padding-left:2em;">
                    <div style="width: 74px;float: left;">
                        <span>2、乙方负责：</span>
                    </div>
                    <div style="float: left;text-indent: 0em;">
                        （1）、提供系统后台管理、维护及其费用。<br />
                        （2）、现场指示标牌提示标语等制作。<br />
                        （3）、设备维护、故障排除以及客户售后解答。
                    </div>
                </div>
            </div>
            <div class="wasd">
                九、资质保证：乙方保证取得设备产品以及相关后台系统正式授权，不会侵犯第三方公司及个人的知识产权及专利等相关权利。甲方保证对所提供的场地具有合法经营出租权，并保证在合同期限内不会因场地问题影响设备持续经营的。
            </div>
            <div class="wasd">十、关于附件：附件一作为本合同的一部分，与本合同一起发生法律效力。附件约定本合同更为具体的条款。</div>
            <div class="wasd">十一、合同的到期与续约：甲方应在合同到期前30天通知乙方到期事宜，并商定续约事宜，如果没有协商，视同按照原条款自动续约。乙方在相同条件下有优先续约权。</div>
            <div class="wasd">十二、保密信息：甲乙双方应该对涉及本合同的条款，以及经营数据、系统后台、登录信息等信息予以保密，未经许可不得擅自提供泄露给第三方。</div>
            <div class="wasd">十三、争议解决：本合同履行中出现任何争议，双方应本着友好协商的方式解决，协商不成，可向甲方所在地人民法院提起诉讼。</div>
        </div>

        <div class="fujian">
            <div class="fujian_box">
                <h3>附件一</h3>
                <table>
                    <tr>
                        <td>场地地址</td>
                        <td>鼓楼区水佑岗6号万谷京东云智慧产业园一楼休息区域</td>
                    </tr>
                    <tr>
                        <td>场地面积</td>
                        <td>6平米</td>
                    </tr>
                    <tr>
                        <td>进场时间</td>
                        <td>2018年6月1日</td>
                    </tr>
                    <tr>
                        <td>设备清单</td>
                        <td>按摩椅2台</td>
                    </tr>
                    <tr>
                        <td>合作期限</td>
                        <td>2019年6月1日—2020年5月31日</td>
                    </tr>
                    <tr>
                        <td>收费方案</td>
                        <td>10元按摩12分钟，20元按摩32分钟</td>
                    </tr>
                    <tr>
                        <td>场地租赁费</td>
                        <td>300元/台/月，半年支付一次，挂电表先充值后使用，电费按1.2元/度收取。</td>
                    </tr>
                    <tr>
                        <td>支付时间</td>
                        <td>2019年5月31日前支付3600元，缴费期(2019.6.1-2019.11.30)
                            备注：因甲方原因，要求乙方拆除一台设备，自2019年4月16日至2019年5月31日，甲方应退还乙方一台设备场地租赁费用447.9元
                            。乙方此次只需支付甲方租赁费用3152.1元。
            </div>
            2019年11月30日前支付3600元，缴费期(2019.12.1-2020.5.31)</td>
            </tr>
            </table>
            <div class="xieyi"><span>本合同一式两份，双方签署后各执一份。本合同从签订起生效。</span></div>
        </div>

        <div class="moban_footer">
            <div class="footer_left">
                <span>甲方：江苏万谷信息科技有限公司</span>
                <span>负责人：</span>
                <span>签订日期：</span>
            </div>
            <div class="footer_left">
                <span>乙方：上海中渥电器有限公司</span>
                <span>负责人：</span>
                <span>签订日期：</span>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="${ctxStatic}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        /* var data = ${ toJson(wgContract) };
        console.log(data);
	    var s_time = data.dstartdate;//起始时间
	    $("#year1").html(s_time.split("-")[0]);
	    $("#month1").html(s_time.split("-")[1]);
	    $("#day1").html(s_time.split("-")[2]);
	    var e_time = data.denddate;//结束时间
	    $("#year2").html(e_time.split("-")[0]);
	    $("#month2").html(e_time.split("-")[1]);
	    $("#day2").html(e_time.split("-")[2]);
	    var cust = ${ toJson(wgContract.wgContractCustList) };
	    if(cust!=null||cust.length==0){
	    	if(cust[0].pkCustomer!=null){
			    $("#czf").html(cust[0].pkCustomer.name);
	    	}
	    } */
	    window.print();
	    var index = parent.layer.getFrameIndex(window.name);
	    parent.layer.close(index);
    };
</script>
</html>