<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>场地使用协议书</title>
	<link rel="stylesheet" href="${ctxStatic}/css/moban.css">
</head>

<body>
    <div class="moban">
        <h2>场地使用协议书</h2>
        <div class="bianhao">
            <span>合同编号：WG06-QT-2019003</span>
        </div>
        <div class="htxx">
            <div class="left htxx_jia">
                <span>甲方：江苏万谷信息科技有限公司</span>
                <span>乙方: 杭州逸学教育科技有限公司</span>
                <span>签订地点：万谷·京东云智慧产业园</span>
                <span>签订时间：2019年 4月23日</span>
            </div>

        </div>
        <div class="xuyan">
            <span>经双方协商一致，就使用场地事宜达成以下协议。</span>
        </div>
        <div class="zhuti2">
            <div class="wd">
                <span>一、租用地点</span>
                <div class="wdn">甲方为乙方提供位于万谷•京东云智慧产业园负一层会议6室给乙方举行 培训 活动。</div>
            </div>
            <div class="wd">
                <span>二、使用期限</span>
                <div class="wdn">2019年 4 月 25 日至2019年 5 月 4 日 ，上午 8:00 至晚上22:00；
                    备注：超时费按200元/小时进行收取。</div>
            </div>
            <div class="wd">
                <span>三、场地服务费</span>
                <div class="wdn">
                    <p>1、原价格表（提供音响、投影仪、桌椅、空调、桶装纯净水使用）</p>
                    <table>
                        <thead>
                            <tr>
                                <th>次数</th>
                                <th>≤10</th>
                                <th>>10</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">外部价格</td>
                                <td>1800元/天</td>
                                <td>1620元/天</td>
                            </tr>
                            <tr>
                                <td>900元/场</td>
                                <td>810元/天</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>2、协议优惠价格：1000元/天，共计10000元，大写金额：壹万圆整。押金 2000 元。（提供投影仪、桌椅、空调、桶装纯净水使用）</p>
                    <p>3、支付账号
                        甲方全称：江苏万谷信息科技有限公司
                        甲方账号：01520120210021846
                        开户银行：南京银行城南支行</p>
                </div>
            </div>
            <div class="wd">
                <span>四、使用费用支付期限</span>
                <div class="wdn">
                    乙方须在2019年4月24日之前一次性付清使用服务费用和押金，甲方在收到乙方服务费后10个工作日内开具增值税普通发票。
                </div>
            </div>
            <div class="wd">
                <div class="title">
                    <span>五、乙方责任</span>
                </div>
                <div class="wasd">1、不影响甲方万谷·京东云智慧产业园的正常运营秩序，遵守甲方制定的管理制度；</div>
                <div class="wasd">2、保持会议中安静，严禁在会议室内及公共场所大声喧哗，嬉戏打闹；</div>
                <div class="wasd">3、保持使用场地的清洁卫生，严禁在会议室范围内随意吐痰、乱扔垃圾，未经甲方同意不能在使用场地内搭设棚架、横幅；</div>
                <div class="wasd">4、不得损坏使用场地的墙体、地面、镶嵌物及其他物品等，如有损坏照价赔偿；</div>
                <div class="wasd">5、乙方参加人员未经甲方准许，不得使用会议室其它的设备、设施。否则因此造成损坏的，照价赔偿；</div>
                <div class="wasd">6、须在签定本协议的同时向甲方付清租用服务费、其他费用，否则此协议无效；</div>
                <div class="wasd">7、需提供会议/活动方案、场地布置方案、营业执照等备案；</div>
                <div class="wasd">8、保持会议室的空气清新，严禁在会议室内或其它非吸烟区吸烟；</div>
                <div class="wasd">9、请于使用前如实提供会议内容，不得在会议室内进行非法违纪活动，如经发现即停止服务并做报警处理；</div>
                <div class="wasd">10、乙方租用会议室使用完毕后，应当组织人员及时将会议室清理干净，返还甲方；</div>
                <div class="wasd">11、乙方自行承担合同履行过程中乙方人员及与会人员人身损害或财产损失责任。</div>
            </div>
            <div class="wd">
                <span>六、甲方责任</span>
                <div class="wdn">
                    <div class="wasd">1、甲方在双方议定的租用期限内向乙方提供场地，并提供照明等使用必备条件；</div>
                    <div class="wasd">2、乙方要求提供其他特别服务，甲方视具体情况尽力予以协助，并收取相关费用；</div>
                    <div class="wasd">3、凡乙方放置在甲方管辖范围内的物品，甲方一律不承担保管责任；</div>
                    <div class="wasd">4、参加乙方会议或活动人员的人身安全（特别是老年人）由乙方全权负责。</div>
                </div>
            </div>
            <div class="wd">
                <span>七、违约责任</span>
                <div class="wdn">
                    <div class="wasd">1、 任何一方如需更改使用地点及使用日期，均须提前一天书面通知对方，否则，违约方须向对方支付该场地三天的会议场使用费用作为违约金；</div>
                    <div class="wasd">2、 签订协议后，乙方如取消使用，甲方不退回乙方所交费用；</div>
                    <div class="wasd">3、 如因乙方违法行为造成甲方损失，全部由乙方承担责任；</div>
                    <div class="wasd">4、 乙方违反本协议第四条的约定，甲方有权不退还乙方所支付的押金，如押金不足以弥补甲方损失，甲方还有权向乙方追偿。</div>
                </div>
            </div>
            <div class="wd">
                <span>八、争议解决方式</span>
                <div class="wdn">
                    双方应严格执行协议，本协议在履行过程中发生争议或有未尽事宜，由双方当事人协商解决，也可以由有关部门调解；协商或调解不成，按法律诉讼方式解决。本协议书未作规定的按照《中华人民共和国合同法》规定执行。
                </div>
            </div>
            <div class="wd">
                <span>九、本协议一式二份，具有同等法律效力，自双方盖章签字之日起生效。</span>
            </div>

        </div>
        <div class="moban_footer">
            <div class="footer_left">
                <span>甲方：江苏万谷信息科技有限公司</span>
                <span>代表人签字：</span>
                <span>日期：</span>
            </div>
            <div class="footer_left">
                <span>乙方：杭州逸学教育科技有限公司</span>
                <span>代表人签字：</span>
                <span>日期：</span>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="${ctxStatic}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        /* var data = ${ toJson(wgContract) };
        console.log(data);
	    var s_time = data.dstartdate;//起始时间
	    $("#year1").html(s_time.split("-")[0]);
	    $("#month1").html(s_time.split("-")[1]);
	    $("#day1").html(s_time.split("-")[2]);
	    var e_time = data.denddate;//结束时间
	    $("#year2").html(e_time.split("-")[0]);
	    $("#month2").html(e_time.split("-")[1]);
	    $("#day2").html(e_time.split("-")[2]);
	    var cust = ${ toJson(wgContract.wgContractCustList) };
	    if(cust!=null||cust.length==0){
	    	if(cust[0].pkCustomer!=null){
			    $("#czf").html(cust[0].pkCustomer.name);
	    	}
	    } */
	    window.print();
	    var index = parent.layer.getFrameIndex(window.name);
	    parent.layer.close(index);
    };
</script>
</html>