<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>丰巢智能柜合作协议</title>
	<link rel="stylesheet" href="${ctxStatic}/css/moban.css">
</head>

<body>
    <div class="moban fengchao">
        <h2>丰巢智能柜合作协议</h2>
        <div class="bianhao">
            <p><span>甲方合同编号：WG06-QT-2019003</span></p>
            <p><span>乙方合同编号：</span></p>
        </div>
        <div class="htxx">
            <div class="left htxx_jia">
                <span>甲方：江苏万谷信息科技有限公司</span>
                <span>地址：江苏省南京市鼓楼区水佑岗路6号</span>
                <span>联系人：张经理</span>
                <span>电话：15996310107</span>
            </div>
            <div class="right htxx_yi">
                <span>乙方：深圳市丰巢科技有限公司</span>
                <span>地址：深圳市南山区东滨路4078号永新汇2号楼15/16层</span>
                <span>联系人：丁宏业</span>
                <span>电话：17327799081</span>
            </div>

        </div>
        <div class="xuyan">
            <span>鉴于乙方的丰巢智能柜及便民快递自助服务系统（以下统称“智能柜系统”）能够提升甲方所管理物业的品质，为用户提供更加快捷、安全的便民服务。双方在自愿、平等的基础上，经协商一致，签订本协议。</span>
        </div>
        <div class="zhuti2">
            <div class="wd">
                <div class="title">
                    <span>1、合作内容</span>
                </div>
                <div class="wdsd">1.1由乙方在甲方管理的物业(以下简称“该物业”）内安装并运行乙方智能柜系统。</div>
                <div class="wdsd">1.2具体安装位置： 江苏 省 南京 市 鼓楼 区 万谷京东云智慧产业园 ； 安装数量：__1__套。</div>
                <div class="wdsd">1.2在本协议约定的合作期限内，未经双方协商一致，任何一方均不得改变智能柜系统的安装位置。
                    <div class="xiayiji">
                        <div>1.2.1如甲方因规划、管理等因素需更换智能柜系统安装位置的，需书面通知乙方后，由双方协商一致更换智能柜系统的安装位置，更换后的安装位置需确保智能柜系统的正常运行。</div>
                        <div>1.2.2如在甲方管理的物业内有更适合的智能柜系统安装位置，乙方提出更换位置需求后，经双方协商确定，甲方应配合乙方做好更换安装位置的协助工作。</div>
                    </div>
                </div>
                <div class="wdsd">
                    1.3智能柜系统如需办理相关批准或登记、备案手续，则由乙方负责办理，甲方应提供必要的协助与配合；乙方负责智能柜系统相关设备的运输及安装，以及智能柜系统正常运营所需的培训、维护、维修、升级等工作，甲方应提供必要的便利与配合。
                </div>
                <div class="wdsd">
                    1.4甲方应确保乙方工作人员可及时、顺利进入该物业，向乙方提供免费临时停放装卸车位，以及提供保障智能柜系统正常运行所需的基础设施，包括：照明、持续稳定的电源、做电所需的材料、人工等。保障智能柜系统的正常运行，若智能柜系统出现故障或损坏的情况，应及时通知乙方，并协助乙方追究第三方责任。
                </div>
                <div class="wdsd">
                    1.5未经乙方书面同意，甲方不得：(1)利用智能柜系统开展单方面的收费或经营性活动；(2)在智能柜内外部张贴标识、悬挂或搭建附属设施设备等；（3）随意开启或关闭智能柜系统；（4）实施其它影响智能柜系统正常运行的行为。
                </div>
                <div class="wdsd">1.6乙方有权在法律允许范围内利用智能柜系统开展包括柜体广告、液晶屏广告在内的各类增值业务，乙方承诺其开展的业务不影响甲方物业区域内的正常秩序。</div>
                <div class="wdsd">1.7乙方的经营活动包括快件收发、广告业务等，若收取超时费、寄件费等其他费用的，应采取用户自愿原则，若出现纠纷，由乙方配备客服进行处理。</div>
                <div class="wdsd">
                    1.8如智能柜系统周边环境发生恶化、安装场地出现异常或其他干扰因素等（以下简称“异常情况”），甲方需在24小时内通知乙方，通知内容应当包括异常情况的原因、影响时间。经双方协商达成解决意见后，甲方应当按期协调或改善，如不能按期改善或无法改善导致柜机无法正常使用的，乙方有权单方解除本协议并无需承担违约责任，甲方应当退还乙方所交付但智能柜系统未实际正常运行期间的所有费用。异常情况超过三十日的，在双方同意继续合作的前提下，合作协议期顺延。
                </div>
                <div class="wdsd">
                    1.9合作期限内，若遇智能柜系统使用率低、他人恶意毁坏智能柜系统、竞品恶意竞争或其他情况，导致本协议目的无法实现的，双方可在提前30日书面通知对方后单方终止协议，双方按智能柜系统实际正常运行期间结算费用。如后续条件允许且双方同意继续履行协议的，甲方应相应减免乙方智能柜系统不能正常运行期间的费用或相应延长合作期限。
                </div>
                <div class="wdsd">
                    1.10甲方应保证其有权签署本协议或获得相关授权以签署并履行本协议。如甲方前述资格将发生变更，应提前60日书面通知乙方，并协助乙方与新的有权签约方进行协商，将甲方在本协议项下的全部权利义务转移给有权签约方，并将已收取的未到期的所有费用交付给有权签约方或退还乙方。
                </div>

            </div>
            <div class="wd">
                <span>2、合作期限</span>
                <div class="wdn">本协议期限自2019 年 4月 1 日至2021年 3月 31日。若双方在协议期满前30日内未提出到期终止本协议的，则本协议自动续期 1 年。</div>
            </div>
            <div class="wd">
                <span>3、费用及支付</span>
                <div class="wdn">
                    <div class="wdsd">3.1本协议项下费用为每套含税 3800 元/年（大写：人民币 叁仟捌佰元 ），总计含税 3800 元/年（大写：人民币 叁仟捌佰元
                        ）。上述费用已包含乙方为履行本协议应向甲方支付的所有费用。</div>
                    <div class="wdsd">3.2本协议计费周期为：2019 年 4月1日至 2021年 3月 31 日。</div>
                    <div class="wdsd">3.3甲方收款账户信息：<br />
                        开户名： 江苏万谷信息科技有限公司<br />
                        开户行： 南京银行城南支行<br />
                        账 号： 0152 0120 2100 21846<br />
                        甲方账户信息有变更的，应在3日内书面通知乙方，如未及时通知导致延期或无法付款的，乙方不承担任何责任。
                    </div>
                    <div class="wdsd">
                        3.4 乙方开票信息：<br />
                        纳税人识别号：91440300335162247A<br />
                        开户银行：招商银行深圳车公庙支行<br />
                        开户账号：755926526210701<br />
                        开户名：深圳市丰巢科技有限公司<br />
                        地址及电话：深圳市前海深港合作区前湾一路1号A栋201室，0755－36393504。
                    </div>
                    <div class="wdsd">
                        <div class="xiahuaxian">
                            3.5合作费用按半年支付，支付时间：2019年4月10日、2019年10月10日、2020年4月10日、2020年10月10日。甲方在收到乙方支付的场地租赁费后，于15个工作日开具增值税普通发票。如乙方未按时支付超过3日的，甲方有权按应缴款的0.15%每日收取延期滞纳金。
                            
                        </div>
                    </div>

                </div>
            </div>
            <div class="wd">
                <span>4、保密条款</span>
                <div class="wdn">
                    双方因签署本协议而以任何形式提供的商业秘密（包括但不限于图纸、数据、与业务有关的客户信息，本协议内容及其他信息等），任何一方（含其分支机构、工作人员）不得以任何方式向第三方泄露。任何一方泄露商业秘密给对方造成实际经济损失的，需承担相应责任。
                </div>
            </div>
            <div class="wd">
                <div class="title">
                    <span>5、协议的变更、终止与解除</span>
                </div>
                <div class="wasd">
                    5.1若因受不可抗力、国家政策、政府行为的影响，使得本协议无法正常履行的，遭受直接影响的一方应立即通知对方，本协议中止履行，前述影响消失后，本协议恢复履行，合作期顺延；若前述影响致使协议无法履行或继续履行有违本协议目的，本协议终止履行。双方应按智能柜系统的实际正常运行时间结算费用。
                </div>
                <div class="wasd">
                    5.2除本协议另有规定外，任何一方变更、终止或解除本协议的，应提前60天书面通知对方，经双方书面协商一致后，可对本协议进行变更、终止或解除。提前解除本协议的，本协议项下费用按5.1条约定据实结算。
                </div>

            </div>
            <div class="wd">
                <span>6、其他</span>
                <div class="wdn">
                    <div class="wasd">6.1
                        任何一方给付对方的法律文件、函件，在到达本协议约定的联系方式时生效。如任何一方联系方式变更的，需在变更后7日内书面通知对方。如未及时通知或联系方式有误造成的一切后果由过错方承担。</div>
                    <div class="wasd">6.2 与本协议相关的任何争议，双方应协商解决，协商不成的，任何一方有权向乙方所在地人民法院提起诉讼。</div>
                    <div class="wasd">6.3 补充条款：<br />
                        租金中含700度/年电费免费使用，乙方需在设备中安装电表，超出700度的电按实际电费1.2元/度收取，每年结算一次（结算时间为次年1月31日）。</div>
                    <div class="wasd"> 6.4 本协议一式 4 份，甲方执 2 份，乙方执 2 份，自双方签章后生效，均具同等法律效力。<br />
                        （以下无正文）</div>
                </div>
            </div>

        </div>
        <div class="moban_footer">
            <div class="footer_left">
                <span>甲方（签章）：</span>
                <span>日期：</span>
            </div>
            <div class="footer_left">
                <span>乙方（签章）：</span>
                <span>日期：</span>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="${ctxStatic}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        /* var data = ${ toJson(wgContract) };
        console.log(data);
	    var s_time = data.dstartdate;//起始时间
	    $("#year1").html(s_time.split("-")[0]);
	    $("#month1").html(s_time.split("-")[1]);
	    $("#day1").html(s_time.split("-")[2]);
	    var e_time = data.denddate;//结束时间
	    $("#year2").html(e_time.split("-")[0]);
	    $("#month2").html(e_time.split("-")[1]);
	    $("#day2").html(e_time.split("-")[2]);
	    var cust = ${ toJson(wgContract.wgContractCustList) };
	    if(cust!=null||cust.length==0){
	    	if(cust[0].pkCustomer!=null){
			    $("#czf").html(cust[0].pkCustomer.name);
	    	}
	    } */
	    window.print();
	    var index = parent.layer.getFrameIndex(window.name);
	    parent.layer.close(index);
    };
</script>
</html>