<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>停车位租用协议</title>
	<link rel="stylesheet" href="${ctxStatic}/css/moban.css">
</head>

<body>
    <div class="moban">
        <h2>停车位租用协议</h2>
        <div class="bianhao1">
            <span>合同编号：WG06-WY-CD-2019006</span>
        </div>
        <div class="htxx">
            <div class="left htxx_jia">
                <span>甲方：江苏万谷信息科技有限公司</span>
                <span>联系方式：15996310107</span>
            </div>
            <div class="right htxx_yi">
                <span>乙方：</span>
                <span>电话：</span>
            </div>

        </div>
        <div class="xuyan">
            <span>鉴于乙方有停车需求，甲乙双方经友好协商，就乙方承租的位于<u>鼓楼区水佑岗6号万谷·京东云智慧产业园</u>车位的事宜，达成协议如下：</span>
        </div>
        <div class="zhuti2">
            <div class="wd">
                <span>一、协议性质：</span>
                <div class="wdn">乙方租用甲方（地上）13号停车位用于停放机动车辆，车牌号：<u></u></div>
            </div>
            <div class="wd">
                <span>二、费用标准：</span>
                <div class="wdn">乙方向甲方按每台车辆 540元/月（包月）的标准交纳停车费。</div>
            </div>
            <div class="wd">
                <span>三、租用时间：</span>
                <div class="wdn">2019   年  9 月  11   日开始至 2019   年  12  月  31   日止。协议到期提前7天，乙方应通知甲方是否续租，否则，本协议将自行终止而无需另行通知。</div>
            </div>
            <div class="wd">
                <span>四、付款方式：</span>
                <div class="wdn">包月车辆  月   付。</div>
            </div>



            <div class="wd">
                <span>五、甲方义务</span>
                <div class="wdn">
                    <div class="wdsd">甲方负责对本协议中的停车位进行日常管理，主要履行以下职责：</div>
                    <div class="wdsd">1．负责及时对停车位、道路及相关设施进行维修养护，保证正常使用；</div>
                    <div class="wdsd">2．负责停车位及其周围保洁工作，保持停车位及其周围干净整洁；</div>
                    <div class="wdsd">3．在地面、墙面设明显的交通标识，引导车辆按规定路线行驶和停放；</div>
                    <div class="wdsd">4．本协议所指机动车位租用，仅为车辆停放之用。甲方作为乙方停车场地的提供方不承担车辆的保管义务，乙方应当自行适时投保包括但不限于车辆盗抢险等险种。因任何第三方责任或不可抗力因素而造成停放车辆发生车损和/或物品丢失事件，乙方应及时向公安机关和保险人报案，甲方可协助保护现场，但不承担任何责任。</div>
                    <div class="wdsd">5.如甲方需提前收回租赁车位的，应提前一个月通知乙方终止本协议，乙方账号中尚存余额的，将于本协议提前终止之日,7个工作日退还乙方。</div>
                    

                </div>
            </div>
            <div class="wd">
                <span>六、乙方义务</span>
                <div class="wdn">
                    <div class="wdsd">1、按期交纳停车位租赁费用，如逾期甲方有权终止协议，停止租赁；</div>
                    <div class="wdsd">2、遵守甲方关于停车位的有关管理规定，将车辆停放在本协议约定场地，不妨碍他人或占用公共通道；</div>
                    <div class="wdsd">3、停放车辆时，将车门锁好，车内不要存放贵重物品，不得存放易燃、易爆、有毒等危险物品；</div>
                    <div class="wdsd">4、乙方在本协议中约定的车辆情况发生变动时须及时向甲方备案（包月）。</div>
                    <div class="wdsd"></div>
                    <div class="wdsd"></div>
                </div>
            </div>
            <div class="wd">
                <div class="title">
                    <span>七、本协议一式二份，甲乙双方各持一份，具有同等法律效力，自双方签字盖章之日起生效。</span>
                </div>
            </div>
            

        </div>
        <div class="moban_footer">
            <div class="footer_left">
                <span>甲方（签章）：江苏万谷信息科技有限公司</span>
                <span>代表人：</span>
                <span>日期：</span>
            </div>
            <div class="footer_left">
                <span>乙方（签章）：</span>
                <span>代表人：</span>
                <span>日期：</span>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="${ctxStatic}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        /* var data = ${ toJson(wgContract) };
        console.log(data);
	    var s_time = data.dstartdate;//起始时间
	    $("#year1").html(s_time.split("-")[0]);
	    $("#month1").html(s_time.split("-")[1]);
	    $("#day1").html(s_time.split("-")[2]);
	    var e_time = data.denddate;//结束时间
	    $("#year2").html(e_time.split("-")[0]);
	    $("#month2").html(e_time.split("-")[1]);
	    $("#day2").html(e_time.split("-")[2]);
	    var cust = ${ toJson(wgContract.wgContractCustList) };
	    if(cust!=null||cust.length==0){
	    	if(cust[0].pkCustomer!=null){
			    $("#czf").html(cust[0].pkCustomer.name);
	    	}
	    } */
	    window.print();
	    var index = parent.layer.getFrameIndex(window.name);
	    parent.layer.close(index);
    };
</script>
</html>