<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>物业服务协议</title>
	<link rel="stylesheet" href="${ctxStatic}/css/moban.css">
</head>

<body>
    <div class="backg c_hide">
        <img src="${ctxStatic}/img/221.png" alt="">
    </div>
    <div class="shouye">
        <div class="bianhao1">
            <div>合同编号：<span>${htPrint.HTCODE}</span></div>
        </div>

        <div class="ht_title">
            <span>物业服务协议</span>
        </div>

        <div class="suoshu">
            <div>（所属园区<span class="under_line">${htPrint.PRONAME}</span>）</div>
        </div>
        <div class="qianzi">
            <div>承租方：<span class="width400 under_line">${htPrint.YFNAME}</span></div>
            <div>签约地点：<span class="width400 under_line"></span></div>
            <div>签约时间：<span class="under_line">${htPrint.QYYEAR}</span>年<span class="under_line">${htPrint.QYMONTH}</span>月<span class="under_line">${htPrint.QYDAY}</span>日</div>
        </div>
    </div>
    <div class="moban">
        <h2>物业服务协议</h2>
        <div class="htxx_jiacu_left">
            <div>甲方：<span class="width400 under_line">${htPrint.JFNAME}</span></div>
            <div>乙方： <span class="width400 under_line">${htPrint.YFNAME}</span></div>
        </div>
        <div class="xuyan">
            <span>为维护${htPrint.PRONAME}园区公共环境秩序，保障园区全体租户的合法权益，依据乙方与出租方签订的《房屋租赁合同》，同时根据国家相关物业管理的法律法规，在自愿、平等、协商一致的基础上，甲、乙双方就园区物业服务事宜达成以下协议。</span>
        </div>
        <div class="zhuti2">
            <div class="wd">
                <span>一、甲方权利和义务</span>
                <div class="wdn">1、制订园区各项管理制度和规定。</div>
                <div class="wdn">2、根据本协议服务内容对园区公共部位、公用设备设施、公共绿化、环境卫生、交通秩序等进行公共服务。</div>
                <div class="wdn">
                    3、按本协议的约定或相关规定的收费标准，收取园区物业管理服务费、停车费、公共能源费（包括但不限于公共水、电费等）和其它相关费用。甲方有权在协议期间内根据市场变化（包括但不限于能源部门的资费调整）对以上收费标准进行调整。
                </div>
                <div class="wdn">4、按本协议的约定或相关规定的收费标准，收取园区物业管理服务费、停车费、公共能源费（包括但不限于公共水、电费等）和其它相关费用。</div>
                <div class="wdn">5、物业管理有关的资料及业主档案的管理。</div>
                <div class="wdn">6、有权对长期拖欠物业服务费、自用及公共能源费、代收代缴费用及其它各项应付费用的租户实施停水、停电。</div>
                <div class="wdn">7、为进行必要的抢修或维修，可暂停任何设施设备的运行和使用。</div>
            </div>
            <div class="wd">
                <span>二、乙方权利和义务</span>
                <div class="wdn">1、乙方对园区物业服务质量，有权向甲方提出整改意见。</div>
                <div class="wdn">2、乙方应遵守本协议的约定、《房屋租赁合同》的约定、园区各项管理制度和规定。</div>
                <div class="wdn">3、乙方应于装修前不少于 5 日向甲方提供装修方案，同时接受甲方的管理。</div>
                <div class="wdn">4、按时交纳物业服务费、停车费、自用和共用水电费等其它各项应付费用。</div>
                <div class="wdn">5、禁止在园区内或房屋内存储易燃、易爆、剧毒等任何危险品。</div>
                <div class="wdn">
                    6、乙方不得占用、损坏物业公共部位、公用设备设施，损坏或改变其使用功能。因搬迁、装饰装修等原因确需合理使用其公共部位、公用设备设施的，应告知甲方，并在约定期间恢复原状，造成损失的给予赔偿；</div>
                <div class="wdn">7、乙方在退租房屋时，应提前3个月书面通知甲方，并结清相关费用；乙方欠费的情况下，任何办公用品和物品不得外出园区。</div>

            </div>
            <div class="wd">
                <span>三、园区物业服务</span>
                <div class="wdn">1、园区公用设备设施的维护与运行服务
                    <div class="xiayiji">
                        <div>（1）、对公用设备设施进行运行、维护和管理服务，确保其正常运转；</div>
                        <div>（2）、有偿维修服务，须向租户事先明示有关收费标准及维修工艺，在租户认可后再实施服务；</div>
                        <div>（3）、配合市政公用单位做好水、电等公用设备设施正常运行的保障工作。</div>
                    </div>
                </div>
                <div class="wdn">2、园区公共绿化养护
                    <div class="xiayiji">
                        <div>根据绿化养护要求，对园区内各类花木、绿地进行修剪、造型、平整，进行科学养护、合理灌排、施肥、灭虫，使绿化长势良好。</div>
                    </div>
                </div>
                <div class="wdn">3、园区公共环境卫生
                    <div class="xiayiji">
                        <div>（1）、对园区公共道路、设施、停车场、绿化景观带等进行清洁；</div>
                        <div>（2）、清理园区内公共区域的垃圾；</div>
                        <div>（3）、园区内定期投放灭害毒饵，喷洒灭虫药剂，及时控制老鼠、蚊蝇等害虫；</div>
                        <div>（4）、无乱贴、乱挂、乱划现象。</div>
                    </div>
                </div>
                <div class="wdn">4、园区秩序维护服务
                    <div class="xiayiji">
                        <div>（1）、监控中心对园区重要部分，实行24小时录像监控；</div>
                        <div>（2）、园区实行全天定时巡查执勤制度，防范不法侵害。但即使基于本条约定也并不表明甲方承诺杜绝或避免不法侵害或治安案件的发生，有关损害赔偿责任概由侵权人承担；</div>
                        <div>（3）、对租户的报警或应急求助及时作出反应，采取相应措施；</div>
                        <div>（4）、维护治安公共秩序、安全管理防范服务，实行入口门岗24小时执勤、园内定时巡视；</div>
                        <div>（5）、引导入园车辆通行、停放泊位，确保道路畅通、车辆停车有序。</div>
                    </div>
                </div>
            </div>
            <div class="wd">
                <span>四、 物业服务收费标准与缴费期限</span>
                <div class="wdn">1、缴费期限
                    <div class="xiayiji">
                        <div>（1）、物业管理服务费缴费期限与《房屋租赁合同》中的租金期限一致，采用“先付后用”的原则；</div>
                        <div>（2）、物业费从房屋正式起租时间开始计算。</div>
                    </div>
                </div>
                <div class="wdn">2、停车费收费标准
                    <div class="xiayiji">
                        <div>（1）、公共停车场包月车位停车费收费标准见附件一（此项费用包括停车场公共能耗费用、公共设施维护费用、车辆疏导人员费用，但不包含车辆看管费用），先缴费后使用；</div>
                        <div>（2）、公共停车场临时车位收取的停车费按公示的标准收取（此项费用包括停车场公共能耗费用、公共设施维护费用、车辆疏导人员费用，但不包含车辆看管费用）。</div>

                    </div>
                </div>
                <div class="wdn">3、园区公共能源分摊费用
                    <div class="xiayiji">
                        <div>
                            （1）、园区公共水电费的分摊按《南京市物业收费管理实施办法》执行。公共电费（包含但不限于公共照明、水泵加压电费、智能化、消防监控等）按实际发生额由租户按面积分摊，公共水费（包含但不限于公共卫生间用水、绿化保洁用水、消防用水和其他任何非专有部位的共用水等）按实际发生额由租户按面积分摊；
                        </div>
                        <div>（2）、电费先购卡后使用，水费按月结算。</div>
                    </div>
                </div>
                <div class="wdn">4、代收代缴费
                    <div class="xiayiji">
                        <div>
                            受有关政府职能部门或单位的委托，甲方将代收代缴乙方专用部位的水费、电费和其他应付费用（代收代缴费用不属于物业服务费，此费用属于业主的专项服务费用），收费标准按政府定价、参照行业标准或双方约定。乙方应每月按期交纳实际所用水电费。
                        </div>
                    </div>
                </div>
                <div class="wdn">5、物业服务费、停车费、水费、电费、其他服务费等，物业公司先收费，后开票。</div>
            </div>
            <div class="wd">
                <span>五、违约责任</span>
                <div class="wdn">1、乙方逾期交纳物业服务费、停车费、水电费、公共水电费等任何应付费用的，从逾期之日起，按应付金额的日0.15%标准比例支付滞纳金。</div>
                <div class="wdn">
                    2、乙方中途搬离物业的（中途搬离物业必须持有与甲方终止合同的正常手续），须于搬离之日前一周向甲方或物业服务中心结清所有应缴费用；否则，每逾期一日，乙方应支付应缴费用的两倍作为违约金。</div>

            </div>
            <div class="wd">
                <span>六、附则</span>
                <div class="wdn">1、为维护园区全体租户的利益，在发生如漏电、火灾、水管破裂、救助生命或重大财产等情况下，甲方因紧急避险造成乙方财产损失的，甲方不承担赔偿责任。</div>
                <div class="wdn">2、《物业管理协议商务主要条款 》、《管理规约》、《房屋租赁安全责任书》作为本协议的附件，与本协议具有同等法律效力。</div>
                <div class="wdn">3、甲方保留可随时制订、修改园区规章制度的权利，但其出发点必须是为了园区所有租户的利益，该等规章制度自甲方向乙方发出书面通知后即生效。</div>
                <div class="wdn">4、本协议服务期限自业主进场之日算起，其它约定与《房屋租赁合同》保持一致。</div>
                <div class="wdn">5、协议未尽事宜由甲乙双方协商解决，可另签订补充协议，补充协议和本协议有同等法律效力；协商解决不成的，双方同意提交房屋所在地人民法院裁判。</div>
                <div class="wdn">6、本协议及其附件一式肆份，甲、乙双方各执两份，自双方签章之日起生效。</div>
            </div>

        </div>
        <div class="moban_footer">
            <div class="footer_left">
                <span>甲 方：</span>
                <span>日 期：</span>
            </div>
            <div class="footer_left">
                <span>乙 方：</span>
                <span>日 期：</span>
            </div>
        </div>
        <div class="fuze_biao">
            <div class="fubiao_list">
                <div>附件一：《物业服务协议商务主要条款》</div>
                <div>附件二：《管理规约》</div>
                <div>附件三：《房屋租赁安全责任书》</div>
            </div>

            <div class="fubiao">
                <div class="fubiao_title">
                    <span>附件一</span>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td colspan="10" class="bold">物业服务协议商务主要条款</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bold">甲方全称</td>
                            <td colspan="3">${htPrint.JFNAME}</td>
                            <td class="bold">乙方全称</td>
                            <td colspan="4">${htPrint.YFNAME}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bold">联系电话</td>
                            <td colspan="3">${htPrint.JFPHONE}</td>
                            <td class="bold">联系电话</td>
                            <td colspan="4">${htPrint.YFPHONE}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bold">企业代表</td>
                            <td colspan="3"></td>
                            <td class="bold">企业法人</td>
                            <td></td>
                            <td colspan="3" class="text_left">身份证号码：${htPrint.YFIDNO}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bold">通讯地址</td>
                            <td colspan="3">南京市鼓楼区水佑岗6号</td>
                            <td class="bold">通讯地址</td>
                            <td colspan="4"></td>
                        </tr>

                        <tr>
                            <td class="bold">1</td>
                            <td class="bold">位置</td>
                            <td colspan="3">${htPrint.JFADDR}</td>
                            <td class="bold">租赁用途</td>
                            <td colspan="4">${htPrint.YFADDR}</td>
                        </tr>
                        <tr>
                            <td class="bold">2</td>
                            <td class="bold">出租面积</td>
                            <td>${htPrint.NALLAREA}</td>
                            <td>平方米</td>
                            <td colspan="6" class="text_left">该面积为双方认定的计算租金面积，含公摊面积。</td>
                        </tr>
                        <tr>
                            <td class="bold">3</td>
                            <td class="bold">物业期限</td>
                            <td colspan="8" class="text_left">自<span class="under_line2">${htPrint.KSYEAR}</span>年<span class="under_line2">${htPrint.KSMONTH}</span>月<span class="under_line2">${htPrint.KSDAY}</span>日
                            起至<span class="under_line2">${htPrint.JZYEAR}</span>年<span class="under_line2">${htPrint.JZMONTH}</span>月<span class="under_line2">${htPrint.JZDAY}</span>日止，合计<span class="under_line2">${htPrint.NHTYEAR}</span>年。</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="bold">4</td>
                            <td rowspan="2" class="bold">物业计算表</td>
                            <td>房号</td>
                            <td colspan="2">计租面积（㎡）</td>
                            <td colspan="2">单价（元/ ㎡/月）</td>
                            <td>月物业费（元）</td>
                            <td colspan="2">年物业费（元）</td>
                        </tr>
                        <tr>
                            <td>${htPrint.ROOM}</td>
                            <td colspan="2">${htPrint.NALLAREA}</td>
                            <td colspan="2">${htPrint.NPRICE}</td>
                            <td>${htPrint.NMONTHPRICE}</td>
                            <td colspan="2">${htPrint.NYEARPRICE}</td>
                        </tr>
                        <tr>
                            <td class="bold">5</td>
                            <td class="bold">支付方式</td>
                            <td colspan="8" class="bold text_left">${htPrint.PAYSTYLE}</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="bold">6</td>
                            <td rowspan="3" class="bold">首期款及付款时间</td>
                            <td colspan="8" class="text_left">首期款付款日期：<span class="under_line2">${htPrint.PAYFIRST}</span> </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <table class="fujian3_table">
                                    <thead class="bg_gray">
                                        <tr>
                                            <th>付款时间</th>
                                            <th>物业费付款金额（元）</th>
                                            <th>对应租赁使用时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text_left">收款帐户：${htPrint.JFNAME}； 开户行：${htPrint.BANKNAME} 帐号：${htPrint.BANKNO}</td>
                        </tr>
                        <tr>
                            <td width="6%" rowspan="2" class="bold">7</td>
                            <td width="11%" rowspan="2" class="bold">其他</td>
                            <td width="6%" class="bold">综合电费</td>
                            <td width="10%">1.2元/度(预收)</td>
                            <td width="10%" class="bold">空&nbsp;&nbsp;&nbsp;调（使用费）</td>
                            <td width="10%">1.2元/度(预收)</td>
                            <td width="9%" class="bold">综合水费</td>
                            <td width="12%">5.5元/立方米(预收)</td>
                            <td width="9%" class="bold">停车费</td>
                            <td width="10%">以园区定价为准</td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text_left">
                                <span
                                    class="bold">综合电费组成说明：</span>1、经双方约定，租户综合电费：1.2元/度（综合电费包含：1）.租户自用电费；2）.公共区域能耗分摊费；3）.高低压配电房维护保养费；4）.高低压配电房检测维修费；5）.变压器耗损费用；6）.线路耗损费用；7）.物业抄表服务费）；<br />
                                2、自用电费：严格按供电公司转供电收费标准执行； 3、公共区域能耗费：按租户自用电量予以分摊，物业部按《物业管理条例》规定每年予以公示，多退少补；
                                4、变压器耗损、线路耗损费用：按租户自用电量予以分摊，据实结算，每年予以公示，多退少补；<br />
                                <span
                                    class="bold">综合水费组成说明：</span>1、经双方确认，租户综合水费：5.5元/立方米；2、自用水费：严格按自来水公司收费标准执行；3、公摊水费：保洁用水、绿化用水等。据实结算，每年予以公示，多退少补。
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="fubiao">
                <div class="fubiao_title">
                    <span>附件二</span>
                </div>
                <h2>管理规约</h2>
                <div class="xuyan">
                    <span>为使万谷硅巷园区内的租户拥有一个良好的办公环境，维护全体租户的合法利益，便于甲方给广大租户提供更好的服务，根据国家、地方相关政策法规，制定本园区管理规约，所有租户均须自觉遵守。</span>
                </div>
                <div class="zhuti2">
                    <div class="wd">
                        <span>一、文明办公</span>
                        <div class="wdn">1、合理使用物业，不影响他人正常办公，共同创造良好的工作环境。</div>
                        <div class="wdn">2、不攀摘花木、碾压、踩踏绿化草坪、涂划景观小品、抛扔杂物。</div>
                        <div class="wdn">3、使用园区内的办公生活设施时，应按园区规定缴纳费用。</div>
                        <div class="wdn">4、不随意在公用部位张贴、涂画。</div>
                        <div class="wdn">5、不在园区内饲养宠物、家禽及其他动物。</div>
                        <div class="wdn">6、低碳环保，节约资源（纸、水、电等）。</div>
                    </div>
                    <div class="wd">
                        <span>二、园区人员出入管理规定</span>
                        <div class="wdn">1、迁入园区前应提前通知物业服务中心，在搬迁过程中，应注意安全，避免损坏公物及给他人造成不便。</div>
                        <div class="wdn">2、租户迁出园区时，需提前到物业服务中心办理相关手续，结清相关费用后方可迁出。</div>
                        <div class="wdn">3、租户和来访客人应主动配合园区秩序维护人员询问登记工作。</div>
                        <div class="wdn">4、租户装修应按照物业相关规定到物业服务中心办理相关手续。</div>
                        <div class="wdn">5、访客及外来家政人员需向秩序维护人员说清楚到访客户的门牌号码及租户姓名，秩序维护人员核对后放行入内。</div>

                    </div>
                    <div class="wd">
                        <span>三、园区物品进出管理规定</span>
                        <div class="wdn">1、对进入园区人员携带的物品，园区秩序维护人员应目视检查，发现可疑物品，可暂时扣留，并进行严格检查，防止易燃易爆物品、剧毒物品等各类危险品进入园区。
                        </div>
                        <div class="wdn">2、装修人员携带物品出园区时，需经租户确认后方可出门。</div>
                        <div class="wdn">3、租户携带大宗物品出园区时，应出具本公司物品搬出告知单并由主要负责人签字，凭此单出门，否则一律不予放行。在搬运过程中，如遇安全员查询，应予以配合。
                        </div>

                    </div>
                    <div class="wd">
                        <span>四、消防管理规定</span>
                        <div class="wdn">1、严禁损毁挪用消防器材、消防水源。</div>
                        <div class="wdn">2、严禁封闭或损坏安全疏散指示、事故照明设施和消防标志等。</div>
                        <div class="wdn">3、严禁占用、堵塞园区任何消防通道及其他安全疏散口，请勿将消防通道和防火门上锁。</div>
                        <div class="wdn">4、严禁把烟头及其它带火物品投向户外，或将未熄灭的烟头投入垃圾箱内或草坪上。</div>
                        <div class="wdn">5、严禁储存易燃易爆物品、剧毒物品等各类危险品。</div>
                        <div class="wdn">6、严禁超负荷使用电器，功率较大电器用毕后，必须关闭电源。</div>
                        <div class="wdn">7、未办理装修申请审批，不得进行室内装修，装修户须按消防标准配备相应的灭火器材和工具。</div>
                        <div class="wdn">8、不得使用不符合防火要求、未经防火处理的材料进行装修。</div>
                        <div class="wdn">9、请勿擅自更改、接用电线路，进行室内装修需要增设电器线路时，必须符合安全规定，请勿乱拉乱接电器线路。</div>
                        <div class="wdn">10、进行明火作业，须到物业服务中心办理动火手续，相关人员须持证上岗，确保作业安全。</div>
                        <div class="wdn">11、严禁在园区燃烧垃圾、落叶，严禁在园区燃放烟花、爆竹。</div>
                        <div class="wdn">12、熟悉消防器材存放位置及消火栓位置。</div>
                        <div class="wdn">13、遵守消防法律法规及各项消防管理规定。</div>
                        <div class="wdn">14、服从消防机关和物业服务中心有关消防方面的管理、监督，不得刁难、辱骂或以暴力、威胁手段妨碍消防监督工作人员依法履行职务。</div>

                    </div>
                    <div class="wd">
                        <span>五、装饰装修管理规定</span>
                        <div class="wdn">1、租户进行室内装修时须严格执行《南京市装饰装修管理条例》和《房屋租赁合同》的约定并符合国家法律法规的规定，并提前得到<u
                                class="zhuanshi_gs">江苏万谷信息科技有限公司</u>的许可。</div>
                        <div class="wdn">
                            2、租户有责任对施工单位在施工中的行为进行监督、管理和约束，要求施工单位按照房屋装饰装修相关法律法规和物业服务中心相关管理制度及规定进行施工，如因施工单位违反上述规定、约定造成的损失，租户承担连带责任。
                        </div>
                        <div class="wdn">3、不得将剩余的油漆、清漆、橡胶水、水泥、沙浆等杂物倒入下水系统和景观池塘，装修垃圾用编织袋装好后集中摆放，根据装修面积缴纳垃圾清运费。</div>
                        <div class="wdn">4、不得损坏楼道内的公共设施，不得在楼梯口及休息平台、公共路面上搅拌水泥，以免污染公共环境，不得在楼道堆放建材和杂物，以保持消防通道的畅通。</div>
                        <div class="wdn">5、各种装修材料的运输、搬运不得污染园区的道路、绿化、电梯、公共楼道，不得损坏公共设施。</div>
                        <div class="wdn">6、装修时噪音施工尽量安排在非工作时间时段内进行，尽量控制噪声以免影响其他租户。</div>
                        <div class="wdn">
                            7、任何租户和施工单位的装修建筑材料上下楼时都不得使用客用电梯，违者处罚人民币500元整；所有装修建筑材料上下楼时必须走专用的安全通道（物业安排的专用通道），有货梯的楼栋可以使用货梯上下装修建筑材料。
                        </div>
                        <div class="wdn">
                            8、租户在装修期间应协助物业服务人员约束自行聘请的装修公司人员的违规行为，自觉配合物业服务人员的巡查，在物业服务人员发现违规现象时应配合物业服务人员的劝告、监督；如租户与毗邻租户发生矛盾时应配合物业服务人员的协调。
                        </div>
                        <div class="wdn">9、租户在装修期间如需安装大型设备或使用大型功率的设备时应提前与物业服务中心联系，物业服务中心将派工程维修人员到场协助或给出合理建议。</div>
                        <div class="wdn">
                            10、业主、租户或装修单位在进场装修前必须做好本楼层的公共区域、公共部位的成品保护措施（如：地面保护、设备设施保护和部分墙面保护等），未按规定做好成品保护措施的不予以施工。</div>

                    </div>
                    <div class="wd">
                        <span>六、车辆管理规定</span>
                        <div class="wdn">1、本园区提供的车辆停放泊位仅限于提供场地服务，不负责对停放在停车泊位上车辆及相应物品的看管。</div>
                        <div class="wdn">2、临时来访的车辆在进入本园区时，经确认后领取停车卡，停放于车辆管理员指定的停车位置上，并交纳停车费。</div>
                        <div class="wdn">3、租户搬家车、装修材料运送车、工程抢修车等特殊车辆临时进入本园区，应遵循车辆管理员的引导。</div>
                        <div class="wdn">4、小型5座车辆配合秩序维护员指挥，将车辆倒入停车位内，不得随意停放。</div>
                        <div class="wdn">5、停放好车辆后，必须锁好车门，设置好防盗系统，车内的贵重物品随身携带。</div>
                        <div class="wdn">6、机动车辆在园区行驶须遵守交通标志的指示、警示，时速不得超过5公里，不得超车和长时间鸣号。</div>
                        <div class="wdn">7、禁止在园区内试车、修车、练车；禁止装载有毒、易燃易爆物品和其他危险品的车辆停放，不得损坏停车设施。</div>
                        <div class="wdn">8、进入本园区的非机动车应停放在指定的非机动车停放处，不得随意停放。</div>
                    </div>
                    <div class="wd">
                        <span>七、楼宇及外立面管理规定</span>
                        <div class="wdn">
                            楼宇外观及整体环境须统一保持原设计风格，不得添加任何建筑物、附置物，保持园区整体设计风格不变，不得拆除、破坏建筑物的承重部位、立柱、承重墙等，租户不得有任何改变楼宇外立面、围墙、屋顶或公共区域的行为。
                        </div>

                    </div>

                </div>
                <div class="fubiao_title">
                    <span>附件三</span>
                </div>
                <h2>房屋租赁安全责任书</h2>
                <div class="xuyan">
                    <span>依据《中华人民共和国消防法》和《中华人民共和国治安管理处罚条例》、《机关、团体、企业、事业单位消防安全管理规定》（公安部第61号令）及其他各项安全生产规定，甲乙双方在房屋资产租赁期间签订如下安全责任书：</span>
                </div>
                <div class="zhuti2">
                    <div class="wd">
                        <div class="wdn">1、甲方将物业租赁给乙方，乙方承租甲方的物业用于生产经营，须签订本安全责任书，作为甲乙双方签署的《物业服务协议》的附件，具有同等的法律效力。</div>
                        <div class="wdn">2、乙方在承租期间不得擅自变更租赁用途，如需变更必须报甲方书面同意后方可变更，否则因租赁用途变更引起的一切安全事故的责任均由乙方独立承担。</div>
                        <div class="wdn">
                            3、乙方在承租期间必须保证甲方的资产安全完整，乙方对租赁房屋装修改造（含二次装修）的防火设计必须符合国家和当地消防技术规范要求，并送公安消防监督机构审批核准后方可实施。装修改造完成后，须在相关政府部门规定期限内由公安消防监督机构消防验收合格，并取得验收合格证明报园区管理部门备案。否则甲方有权终止房屋租赁合同并不负任何责任。若乙方的装修改造方案未向公安消防监督机构申报、或申报后未取得消防验收合格证明、或取得消防验收合格证明未向甲方备案的，发生安全责任事故，乙方应负完全责任。
                        </div>
                        <div class="wdn">
                            4、乙方不得在租赁物内部及公共区域使用和存放易燃易爆品，严禁未经批准的明火作业、燃放烟花爆竹和在禁烟区吸烟等。乙方不得擅自动用明火，需要使用明火器具应事先向甲方提出书面申请，说明安全措施、经消防部门和甲方书面批准后方可使用。实施电焊、气割、砂轮切割、煤气燃烧等以及其他具有火灾危险作业的人员，必须持证上岗，必须按照有关安全要求操作。因乙方违反上述规定的，发生责任事故，乙方应负完全责任。
                        </div>
                        <div class="wdn">
                            5、乙方承租的租赁屋必须严格按照消防技术规范的配置标准自行配备灭火器，并保证租赁物内的消防设施及器材能够正常使用，包括但不限于消防栓、灭火器、疏散指示标志、紧急照明装置等完整有效，安全通道必须畅通，不得擅自移动、损坏和挪用消防设施设备，定期检查、维护和更换并建立台账。
                        </div>
                        <div class="wdn">6、乙方不得私自拉临时电线和临时水管，如有需要应找专业水电工并经甲方书面同意后，方可实施。经常检查所有电源、电路及其他设备，发现问题及时找专业人员进行维修。
                        </div>
                        <div class="wdn">7、乙方承诺认真抓好本单位的防火安全工作，把防火安全工作列入本单位的重要议事日程，狠抓各项工作的落实，切实保证员工的生命财产安全。</div>
                        <div class="wdn">8、乙方承诺按国家和地方相关的消防法律法规建立安全生产责任制度，确定消防岗位安全责任人，制定详细的防火、灭火管理制度、实施细则。</div>
                        <div class="wdn">9、乙方需定期或不定期的对安全生产责任制度的落实和执行情况组织安全检查并及时整改（法定节假日要提前5日检查）。</div>
                        <div class="wdn">
                            10、乙方在承租期间，因管理不善引起火灾或其他安全责任事故而造成的一切损失由乙方自负。造成甲方房屋及其他财产损失由乙方负责赔偿，给其他租赁户或业主造成的损失全部由乙方独自承担。
                        </div>
                        <div class="wdn">11、甲方不定期组织对乙方租赁区域的安全检查，乙方对甲方检查中发现的安全隐患两次以上（含）未整改到位的，甲方有权解除租赁合同并不负任何责任。</div>
                        <div class="wdn">12、乙方租赁前对甲方物业现状充分了解并完全接受，乙方进场装修后，根据“谁使用谁负责”的原则，所有出现的安全事故均有乙方负全责。</div>
                    </div>
                </div>

            </div>


        </div>

    </div>
</body>
<script type="text/javascript" src="${ctxStatic}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
    	var fkData = ${ toJson(fkDetail) };
        var tbody="";
        var allmny=0;
        for(var i=0; i<fkData.length; i++){
        	tbody=tbody+"<tr><td>"+fkData[i].fkdate+"</td><td style=\"text-align:left;\"><p>"+fkData[i].fzfkqj+"物业费："+fkData[i].nmny+"元</p></td><td style=\"text-align:left;\">"+fkData[i].zlqj+"</td></tr>";
        	allmny=parseFloat(allmny)+parseFloat(fkData[i].nmny);
        }
        tbody=tbody+"<tr><td>合计</td><td style=\"text-align:right;\">"+allmny+"元</td><td></td></tr>";
        $(".fujian3_table tbody").html(tbody);
	    window.print();
	    var index = parent.layer.getFrameIndex(window.name);
	    parent.layer.close(index);
    };
</script>
</html>