<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能终端场地合作协议</title>
	<link rel="stylesheet" href="${ctxStatic}/css/moban.css">
</head>

<body>
    <div class="moban zhineng">
        <h2>智能终端场地合作协议</h2>
        <div class="bianhao1">
            <span>协议编号WG06-ZL-CD-2019004</span>
        </div>
        <div class="htxx_jiacu_left">
            <span>甲方： 江苏万谷信息科技有限公司 （以下简称甲方）</span>
            <span>地址：南京市鼓楼区水佑岗6号万谷京东云智慧产业园一楼</span>
            <span>乙方：上海趣致网络科技股份有限公司（以下简称乙方）</span>
            <span>地址：上海市徐汇区小木桥路681号上海外经大厦17楼</span>
        </div>
        <div class="xuyan">
            <span>甲乙双方经友好协商，本着自愿、平等、互利的原则，经友好协商，根据中华人民共和国有关法律、法规的规定签署本协议，由双方共同遵守。</span>
        </div>
        <div class="zhuti2">
            <div class="wd">
                <span>一.定义</span>
                <div class="wdn">实趣终端：指乙方提供的专属智能零售终端。</div>
            </div>
            <div class="wd">
                <span>二.合作内</span>
                <div class="wdn">
                    <div class="wdsd">1.甲方提供场地摆放乙方实趣终端，具体如下：
                        <div class="xiayiji">
                            <div>地址：<u> 南京市鼓楼区水佑岗路6号万谷京东云智慧产业园一楼大厅 </u> 面积 1 平方，实趣终端 壹 （大写）台。</div>
                        </div>
                    </div>
                    <div class="wdsd">2.合作时间： 壹拾贰 （大写）月，自 2019 年 8 月15 日开始计算。</div>
                    <div class="wdsd">3.费用和支付： </div>
                    <div class="wdsd">1)场地使用费：
                        <div class="xiayiji">
                            <div>费用标准（含税）： </div>
                            <div class="xiayiji2">
                                <div>RMB（小写） 3500 元/（台*年）</div>
                                <div>人民币（大写） 叁仟伍佰元 （台*年）</div>
                            </div>
                            <div>*以上费用已经包括保洁、物业管理费等</div>
                            <div>费用总计（含税）：RMB（小写） 3500 元，人民币（大写） 叁仟伍佰元整 。</div>
                        </div>
                    </div>
                    <div class="wdsd">2） 支付时间和金额
                        <div class="xiayiji">
                            <div>支付周期：乙方按 □季度 □半年 □√其他 年度 支付；</div>
                            <div>首次支付时间：在终端机器进场后 伍 （大写）日前完成；</div>
                            <div>首次支付金额： RMB（小写） / 元，人民币（大写） / ；</div>
                            <div>后续支付时间： / （如遇非工作日顺延）；</div>
                            <div>后续每次支付金额：RMB（小写） / 元，人民币（大写） / ；</div>
                        </div>
                    </div>
                    <div class="wdsd">3.电费加装电表1.2元/度，每六个月结算一次。</div>
                    <div class="wdsd">4.甲方收到乙方支付费用后的7个工作日内，需要向乙方开具增值税专用发票。</div>
                    <div class="wdsd">5.甲方收款账号： <u>户名：江苏万谷信息科技有限公司；开户行： 南京银行城南支行;账号：01520120210021846        </u></div>
                    <div class="wdsd">6.实趣终端的所有权归乙方所有，乙方全权负责运营，甲方不得干涉乙方正常的经营活动。</div>
                </div>
            </div>
            <div class="wd">
                <span>三.双方的权利和义务</span>
                <div class="wdn">
                    <div class="wdsd">1.甲方的权利和义务
                        <div class="xiayiji">
                                <div>1.1 甲方提供给标准电源220V.10A、三相标准插座、接地线，24小时供电（特殊情况停电需要提前通知乙方）。</div>
                                <div>1.2 在协议有效期内，如遇甲方场地调整需求，经双方协商后，实趣终端的摆放位置可做调整。</div>
                                <div>1.3 甲方负责配合乙方安装及工程部署，并为乙方安装、维护、每日配货提供临时停车和人员进出便利。</div>
                                <div>1.4 终端设备如发生人为损坏、被盗等情况，甲方通知乙方或报警。</div>
                            
                        </div>
                    </div>
                    <div class="wdsd">2.乙方的权利和义务
                        <div class="xiayiji">
                            <div>1.1 乙方负责实趣终端的经营、安装调试、维护、物流、配货、技术支持等服务。</div>
                            <div>1.2 乙方负责实趣终端客服并处理甲方现场投诉。</div>
                            <div>1.3 乙方实趣终端发布的液晶屏内容应符合现有法律法规及政府有关规定。如因内容发布而产生的法律纠纷由乙方承担，甲方无需承担任何连带责任。</div>
                            <div>1.4 乙方实趣终端内的商品必须符合国家质量安全要求的相关规定，如因乙方的商品质量问题引发的各项损失将由乙方承担，甲方无须承担任何连带责任。</div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="wd">
                <span>四.协议的变更和终止</span>
                <div class="wdn">
                    <div class="wdsd">1.双方因自身原因需变更协议的，应提前30日书面通知对方，经双方协商一致后办理相关变更手续。如果因为甲方原因需要提前终止协议的，甲方需要按照乙方未使用的场地时间退还乙方已支付的相应场地使用费。</div>
                    <div class="wdsd">2.一方严重违反本协议规定的任何条件且在另一方向其提出书面通知后15天内没有改正的，另一方有权终止本协议，本协议自该有权终止方发出终止通知之日起终止。但是协议的终止不影响违约责任的追究。</div>
                    <div class="wdsd">3.一方如果有以下行为包括但是不限于违法经营、提供虚假证明、侵犯对方知识产权等严重违法或者是侵害双方合法权益的行为时，本协议立即终止。协议的终止不影响违约责任的追究。</div>
                  
                </div>
            </div>



            <div class="wd">
                <span>五.不可抗力</span>
                <div class="wdn">
                    <div class="wdsd">1.一旦本协议各方确认发生不可抗力致使本协议无法履行或延期履行，任何一方都将可以暂停履行本协议，但应在15个工作日内书面通知对方。如果上述不可抗力的影响未能在不可抗力发生之日起30天内消除，且双方未能就本协议协商一致达成变更意见，任何一方有权解除本协议，本协议自一方向另一方发出终止通知之日起解除。</div>
                    <div class="wdsd">2.“不可抗力”是指本协议双方不能合理控制、不可预见或即使预见亦无法避免的事件，该事件使任何一方根据本协议履行其全部或部分义务已不可能。该事件包括但不限于政府行为、政策变化、地震、台风、洪水、火灾、战争等其它任何类似事件。</div>
                    <div class="wdsd">3.一方违约后发生不可抗力，违约方不予免责。</div>

                </div>
            </div>
            <div class="wd">
                <span>六.保密原则</span>
                <div class="wdn">
                    <div class="wdsd">1.甲乙双方均有义务履行保密义务，不得向任何第三方披露或者透露有关本协议项下内容的任何信息及双方因履行本协议而获知的对方的商业秘密，但根据有关法律规定向有关权力机构（如政府执法部门、证券交易所）必须披露的除外。</div>
                    <div class="wdsd">2.商业秘密概括地描述为现在和将来归属与一方的业务数据、客户名单、技术资料、软件程序、财务和其他能为该方带来利益或影响的商业资料。</div>
                    <div class="wdsd">3.保密条款不因本协议的无效、解除、提前终止或不具操作性而失效。</div>
                    <div class="wdsd">4.本协议期满后，各方的保密义务并不随之终止，保密义务直到另一方同意其解除此项义务，或事实上不会因违反保密义务而给另一方造成任何形式的损害时为止。</div>
                    
                </div>
            </div>
            <div class="wd">
                <span>七.违约责任</span>
                <div class="wdn">
                    <div class="wdsd">1.当违约方实质性违反其在本协议项下的义务时，非违约方应免于履行其在本协议项下的义务。</div>
                    <div class="wdsd">2.若因违约方违反本协议而使非违约方发生任何费用或开支或额外责任，或遭受损失（利润亏损或其他间接损失除外），违约方应就该等直接费用和损失给予非违约方补偿。</div>
                  
                </div>
            </div>
            <div class="wd">
                <span>八.争议解决</span>
                <div class="wdn">
                    <div class="wdsd">1.本协议的签订、生效、履行、争议的解决均适用中国法律。</div>
                    <div class="wdsd">2.如果产生有关本协议的存在、效力、履行、解释、终止的争议，双方应通过友好协商解决，如果争议发生之日起三个月内通过协商不能解决的，或者任何一方拒绝协商的，则任何一方均可诉请有管辖权的人民法院裁决。</div>
                  
                </div>
            </div>
            <div class="wd">
                <span>九.其他</span>
                <div class="wdn">
                    <div class="wdsd">1.本协议自双方签字盖章之日起生效，协议有效期壹年。</div>
                    <div class="wdsd">2.本协议未尽事宜双方应本着平等互利的原则进行协商，并就协商结果以本协议附件形式加以约定。</div>
                    <div class="wdsd">3.本协议附件作为本协议不可分割的一部分，与本协议具备同等法律效力。</div>
                    <div class="wdsd">4.本协议文本一式肆份，双方各执贰份，每份具有同等法律效力。</div>
                    <div class="wdsd">5.其他补充内容： 1）<u>需提供摆放位置附件图片。</u>  </div>
                  
                </div>
            </div>


        </div>
        <div class="moban_footer">
            <div class="footer_left">
                <span>甲方：</span>
                <span>签字：</span>
                <span>盖章：</span>
                <span>日期：</span>
            </div>
            <div class="footer_left">
                <span>乙方：上海趣致网络科技股份有限公司   </span>
                <span>签字：</span>
                <span>盖章：</span>
                <span>日期：</span>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="${ctxStatic}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        /* var data = ${ toJson(wgContract) };
        console.log(data);
	    var s_time = data.dstartdate;//起始时间
	    $("#year1").html(s_time.split("-")[0]);
	    $("#month1").html(s_time.split("-")[1]);
	    $("#day1").html(s_time.split("-")[2]);
	    var e_time = data.denddate;//结束时间
	    $("#year2").html(e_time.split("-")[0]);
	    $("#month2").html(e_time.split("-")[1]);
	    $("#day2").html(e_time.split("-")[2]);
	    var cust = ${ toJson(wgContract.wgContractCustList) };
	    if(cust!=null||cust.length==0){
	    	if(cust[0].pkCustomer!=null){
			    $("#czf").html(cust[0].pkCustomer.name);
	    	}
	    } */
	    window.print();
	    var index = parent.layer.getFrameIndex(window.name);
	    parent.layer.close(index);
    };
</script>
</html>