.c_hide{
	display: none !important;
}
#c_search{
	position: absolute;
	top:50%;
	left:50%;
	width:600px;
	height: 400px;
	margin-left: -300px;
	margin-top: -200px;
	box-shadow: 0 0 10px #ccc;
}

/* #searchForm{
	position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 300px;
    margin-left: -275px;
    margin-top: -150px;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    z-index: 1;
    padding: 30px 20px 20px 20px;
}

#searchForm .form-group{
	width: 49%;
	margin:0 0 10px 0;
}
#searchForm .control-label{
	width: 42%;
} */
#searchForm .control-inline{
	width: 55% !important;
}
#searchForm .control-inline input{
	width: 100% !important;
}
/* #searchForm button[type="submit"]{
    position: absolute;
    bottom: 16px;
    right: 84px;
}
#searchForm button[type="reset"]{
    position: absolute;
    bottom: 16px;
    right: 28px;
} */
#searchForm button:nth-child(1){
    position: absolute;
    bottom: 16px;
    right: 84px;
    border-radius: 6px;
}
#searchForm button:nth-child(2){
    position: absolute;
    bottom: 16px;
    right: 28px;
    border-radius: 6px;
}

#searchForm{
    position: fixed;
    /* top: 0%;
    left: 50%; */
    top: 7%;
    left: 20%;
    width: 550px;
    /* height: 400px; */
    /* margin-left: -275px; */
    /* margin-top: -150px; */
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    z-index: 50;
    /* padding: 44px 20px 20px 20px; */
    max-height: 400px;
    overflow: hidden;
}
#searchForm .c_form_group{
    max-height: 400px;
    padding: 44px 20px 20px 20px;
    overflow: auto;
}
#searchForm .form-group{
	width: 100%;
	margin:0 0 8px 0;
}
#searchForm .control-label{
    min-width: 21%;
}
#searchForm .control-inline .input-group{
	width: 100% !important;
}
@media (min-width: 768px){
	.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
		width:1px;
	}
}
#searchForm .c_search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #4583c0;
    z-index: 100;
}
#searchForm .c_search .c_title_search{
    line-height: 30px;
    margin-left: 10px;
    color: #fff;
}
#searchForm .c_search .c_close{
    width: 30px;
    /* height: 25px; */
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#searchForm .c_search .c_close:hover{
    box-shadow: 0 0 2px #4583c0;
}
/* #searchForm .c_close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    background: #4583c0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
} */