/*********查询界面***********/
.query-group {
	width: 310px;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
}
.query-group .query-label {
    text-align: right;
    font-size: 13px;
    vertical-align: baseline;
	width: 35%;
    font-weight: normal;
    padding-top: 3px;
    text-align: right;
    padding-right: 0;
}
.query-label span {
	color: red;
}
.query-input {
    display: inline-block;
    width: 60%;
}
.query-input input {
    width: 100% !important;
}
.query-group-date {
	width: 620px;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
}
.query-group-date .query-label-date {
    text-align: right;
    font-size: 13px;
    vertical-align: baseline;
	width: 18%;
    font-weight: normal;
    padding-top: 3px;
    text-align: right;
    padding-right: 0;
}
.query-label-date span {
	color: red;
}
.query-input-date {
    display: inline-block;
    width: 80%;
}
.query-input-date input {
    width: 47% !important;
}
/* 输入框选中添加颜色 */
/* .query-input input:focus {
    background-color: red;
} */
.width-150 {
    width: 150px!important;
}
.color-money-label{
	color: lightseagreen;
}.color-area-label{
	color: #8080ff;
}
/******拉单弹框的样式*******/
.layer_bg .layui-layer-title{
   background-color: #89c590;
}