.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.searchNav {
  font-family: '微软雅黑';
  padding: 0 10px;
  color: #333;
}
.searchNav .row {
  margin-top: 4px;
  margin-bottom: 4px;
}
.searchNav input {
  width: 80%;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-indent: 4px;
}
.searchNav input[readonly="true"]{
	border:1px solid #fff;
}
.searchNav input:focus {
  border: 1px solid #3E9CFB;
  outline: none;
}
.contentBody {
  margin-top: 10px;
}
.contentBody .tips {
  height: 34px;
  padding-top: 10px;
  padding-left: 10px;
  background: linear-gradient(#FDFDFE, #F3F3F4);
  box-shadow: 0 -2px 2px #D5D4D6;
  z-index: 164;
}
.contentBody .tips a {
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  width: 140px;
  padding: 5px 20px;
  text-decoration: none;
  color: #1d97e9;
  z-index: 6;
}
.contentBody .tips a:hover {
  color: #f34646;
}
.contentBody .tips a.hove {
  box-shadow: 0 0 8px #949394;
  border-bottom: 4px solid #fff;
  border-radius: 18px 4px 0 0;
  background: #fff;
}
.contentBody .listShow {
  z-index: 5;
  border-top: 2px solid #D5D4D6;
  margin-top: -2px;
}
.contentBody .listShow table {
  background: #fff;
  position: relative;
  border-collapse: collapse;
}
.contentBody .listShow table thead tr {
  background: linear-gradient(#FDFDFE, #F3F3F4);
  height: 24px;
  line-height: 24px;
}
.contentBody .listShow table thead tr th {
  text-align: center;
  font-size: 16px;
  border: 1px solid #D5D4D6;
  border-top: none;
  font-weight: 400;
  color: #3d3d3d;
}
.contentBody .listShow table tbody tr td {
  border: 1px solid #D5D4D6;
}
.contentBody .listShow table input {
  text-indent: 6px;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
}
.contentBody .listShow .loucengMsg {
  display: none;
}
.table_content {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  overflow: auto;
  height: 300px;
}
.table_content table {
  border: 1px solid #caccce;
}
.table_content table tr {
  border: 1px solid #caccce;
}
.table_content table tr td {
  border: 1px solid #caccce;
}
.table_content table tr th {
  border: 1px solid #caccce;
}
.table_content table thead {
  background: linear-gradient(#F7F7F8, #ECECEC);
}
.table_content table thead tr {
  height: 26px;
}
.table_content table thead tr th {
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.table_content table thead tr:nth-child(1) th {
  color: #4D97B0;
}
.table_content table thead tr:nth-child(1) th:nth-child(1) {
  color: #3d3b3b;
  border-top: 1px solid #D5D4D6;
  border-left: 1px solid #D5D4D6;
}
.table_content table tbody tr {
  height: 24px;
}
.table_content table tbody tr td {
  font-size: 12px;
  line-height: 24px;
  padding: 0 4px;
}
.table_content table tbody tr td:nth-child(1) {
  background: #F7F7F8;
  text-align: right;
  padding: 0 6px 0 30px;
}
.table_content table tbody tr td input {
  text-indent: 6px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
  width: 60px;
}
#childGuide {
  position: relative;
  height: 400px;
}
#childGuide .buttonGroup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.buttonGroup p {
  text-align: center;
  padding: 4px;
  margin: 0;
}
.buttonGroup p span {
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  border: 1px solid #d8d4d4;
  background: #006cdc;
  color: #fff;
}
.buttonGroup p span:hover {
  opacity: .9;
}

.zuling .layui-layer-title {
    background: #006cdc;
    color: #fff;
    border: none;
    height: 34px;
    line-height: 34px;
}
.zuling .layui-layer-setwin a {
    top: -4px;
}
.huxing{
	min-width:60px;
}
.yetai{
	min-width:60px;
}
.bc_gray{
	background: #F5F7F9;
}
.table_content table tbody tr.tr_active{
	background: #fbecec;
}
.table_content table tbody tr .td_bg{
	background: #fbecec;
}
.table_content table tbody tr.tr_active .td_active{
	box-shadow: 0 0 2px #fd0707 inset;
    background: #fff;
}
.cw_color{
	display: block;
    height: 24px;
}