<% layout('/layouts/default.html', {title: '退租管理管理', libs: ['dataGrid']}){ %>
<link rel="stylesheet" href="${ctxStatic}/css/c_search.css">
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<!-- <div class="box-title">
				<i class="fa icon-notebook"></i> ${text('退租管理管理')}
			</div> -->
			<div class="box-tools pull-left">
				<% if(hasPermi('wght:wgThrowalease:edit')){ %>
					<a href="#" class="btn btn-default" id="btnRefHt" title="${text('参照合同管理')}"><i class="fa fa-external-link"></i> ${text('参照合同管理')}</a>
					<a href="#" class="btn btn-default" id="btnEdit" title="${text('修改')}"><i class="fa fa-pencil"></i> 修改</a>
					<a href="#" class="btn btn-default" id="btnDelAll" title="${text('批量删除')}"><i class="fa fa-trash-o"></i> 删除 </a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="c_btnRefresh" title="${text('刷新')}"><i class="fa fa-refresh"></i> 刷新 </a>
				<% if(hasPermi('wght:wgContract:edit')){ %>
					<div class="btn-group">
						<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-navicon"></i> 审批 <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" id="btnApproveAll2"><i class="fa fa-check"></i> 审批 </a></li>
							<li><a href="#" id="btnUnApproveAll2"><i class="fa fa-remove"></i> 取消审批 </a></li>
						</ul>
					</div>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${wgThrowalease}" action="${ctx}/wght/wgThrowalease/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="c_form_group">
				<div class="form-group">
					<label class="control-label">${text('所属组织')}：</label>
					<div class="control-inline">
						<#form:treeselect id="pkOrg" title="${text('组织选择')}" 
							path="pkOrg.officeCode" labelPath="pkOrg.officeName" 
							url="${ctx}/sys/office/treeData?officeTypes=1,2&isShowCode=true" allowClear="true" 
							canSelectParent="true" canSelectRoot="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('项目信息')}：</label>
					<div class="control-inline">
						<#form:treeselect id="pkProject" title="${text('项目选择')}" 
							path="pkProject.pkProject" labelPath="pkProject.name" 
							url="${ctx}/zl/zlProject/treeData?isShowCode=true" allowClear="true" 
							canSelectParent="true" canSelectRoot="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('单据号')}：</label>
					<div class="control-inline">
						<#form:input path="vbillno" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('合同编号')}：</label>
					<div class="control-inline">
						<#form:input path="htcode" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('退租日期')}：</label>
					<div class="control-inline">
						<#form:input path="dtzdate_gte" readonly="true" maxlength="20" class="form-control Wdate-date" placeholder="开始日期" 
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,maxDate:'#F{$dp.$D(dtzdate_lte)}'});"/>
						&nbsp;--&nbsp;
						<#form:input path="dtzdate_lte" readonly="true" maxlength="20" class="form-control Wdate-date" placeholder="结束日期" 
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,minDate:'#F{$dp.$D(dtzdate_gte)}'});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('退租类型')}：</label>
					<div class="control-inline">
						<#form:select path="tztype" dictType="wg_tztype" class="form-control width-120" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('单据状态')}：</label>
					<div class="control-inline">
						<#form:select path="vbillstatus" dictType="wg_billstatus" class="form-control width-120" />
					</div>
				</div>
				<div class="form-group">
					<button type="button" onclick="queryData()" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="button" onclick="resetBtn()" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
				</div>
				<div class="c_search">
					<div class="c_title_search pull-left">
						<i class="fa fa-filter"></i> <span>查询</span>
					</div>
					<div class="pull-right">
						<span class="c_close">x</span>
					</div>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("主键")}', name:'id', hidden:true},
		{header:'${text("所属组织")}', name:'pkOrg.officeName', index:'a.pk_org', width:150, align:"left"},
		{header:'${text("单据号")}', name:'vbillno', index:'a.vbillno', width:150, align:"left"},
		{header:'${text("项目信息")}', name:'pkProject.name', index:'a.pk_project', width:150, align:"left"},
		{header:'${text("合同编号")}', name:'htcode', index:'a.htcode', width:150, align:"left"},
		{header:'${text("合同起始日")}', name:'dstartdate', index:'a.dstartdate', width:150, align:"left"},
		{header:'${text("合同终止日")}', name:'denddate', index:'a.denddate', width:150, align:"left"},
		{header:'${text("退租日期")}', name:'dtzdate', index:'a.dtzdate', width:150, align:"left"},
		{header:'${text("退租类型")}', name:'tztype', index:'a.tztype', width:150, align:"left", formatter: function(val, obj, row, act){
            return js.getDictLabel(${@DictUtils.getDictListJson('wg_tztype')}, val, '${text("")}', true);
		}},
		{header:'${text("单据状态")}', name:'vbillstatus', index:'a.vbillstatus', width:150, align:"left", formatter: function(val, obj, row, act){
            return js.getDictLabel(${@DictUtils.getDictListJson('wg_billstatus')}, val, '${text("")}', true);
		}},
		{header:'${text("制单人")}', name:'creator.userName', index:'a.creator', width:150, align:"left"},
		{header:'${text("制单时间")}', name:'createdtime', index:'a.createdtime', width:150, align:"left"},
		{header:'${text("最后修改人")}', name:'modifier.userName', index:'a.modifier', width:150, align:"left"},
		{header:'${text("最后修改时间")}', name:'modifiedtime', index:'a.modifiedtime', width:150, align:"left"},
		{header:'${text("审核人")}', name:'approver.userName', index:'a.approver', width:150, align:"left"},
		{header:'${text("审核时间")}', name:'approvedtime', index:'a.approvedtime', width:150, align:"left"},
	],
	lazyLoad: true, 	    // 是否懒加载Grid数据，默认初始列表后不及时加载数据，（仅对url远程请求数据有效），当调用 dataGrid.refresh()时再进行加载。
	shrinkToFit: false, 	    // 是否按百分比自动调整列宽，当列比较多时，开启水平滚动，可设置为false
	sortableColumn: true,   // 列表是否允许排序（设置为false后，整个列表不允许排序）
	showCheckbox:true,
	multiselectWidth: 40,   // 复选框的宽度
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	},
	onSelectRow: function(id, isSelect, event){//单击方法
		
	},
	ondblClickRow: function(id, rownum, colnum, event){//双击方法 
		js.addTabPage($(this), "查看退租管理", "${ctx}/wght/wgThrowalease/form?pkThrowalease="+id+"&isEdit=false", null, null);//弹出新的标签页
	},
});
</script>
<script src="${ctxStatic}/wght/wgThrowalease/wgThrowaleaseList.js"></script>