<% layout('/layouts/default.html', {title: '户型信息管理', libs: ['dataGrid']}){ %>
<link href="${ctxStatic}/css/zlListShow.css" rel="stylesheet" type="text/css"/>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<!-- <div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('户型信息管理')}
			</div> -->
			<div class="box-tools pull-left">
				<% if(hasPermi('zl:zlFamilyfile:edit')){ %>
					<a href="${ctx}/zl/zlFamilyfile/form?isEdit=true" class="btn btn-default btnTool" title="${text('新增户型信息')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="c_btnRefresh" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
			    <a href="javascript:" id="edit" onclick="c_editBtn('/js/a/zl/zlFamilyfile/bianji?pkFamilyfile')" class="btn btn-default" title="${text('修改户型信息')}"><i class="fa fa-pencil"></i> ${text('修改')}</a>
				<a href="#" class="btn btn-default" onclick="c_delete('pkFamilyfile')" title="${text('删除')}"><i class="fa fa-trash-o"></i> 删除 </a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${zlFamilyfile}" action="${ctx}/zl/zlFamilyfile/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('组织')}：</label>
					<div class="control-inline">
	                  <#form:treeselect id="pkOrg" title="${text('机构选择')}"
									path="pkOrg.officeCode" labelPath="pkOrg.officeName"
									url="${ctx}/sys/office/treeData"
									class="" allowClear="true"/>					</div>
				</div>
					<div class="form-group">
						<label class="control-label">${text('编码')}：</label>
						<div class="control-inline">
							<#form:input path="code" maxlength="50" class="form-control width-120"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">${text('名称')}：</label>
						<div class="control-inline">
							<#form:input path="name" maxlength="50" class="form-control width-120"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">${text('项目信息')}：</label>
						<div class="control-inline">
									 <#form:treeselect id="pkProjectid" title="${text('项目选择')}"
										path="pkProjectid.pkProject" labelPath="pkProjectid.name"
										url="${ctx}/zl/zlProject/treeData?isShowCode=true" allowClear="true"
										class="" checkbox="true" canSelectParent="true" canSelectRoot="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">${text('业态')}：</label>
						<div class="control-inline">
									 <#form:treeselect id="pkFormattypeid" title="${text('业态选择')}"
										path="pkFormattypeid.pkFormattype" labelPath="pkFormattypeid.name"
										url="${ctx}/zl/zlFormattype/treeData?isShowCode=true" allowClear="true"
										class=""  checkbox="true"/>
						</div>
					</div>
					<!-- <div class="form-group">
						<label class="control-label">${text('制单日期')}：</label>
						<div class="control-inline">
							  查询单个日期
							<#form:input path="dbilldate" readonly="true" maxlength="20" class="form-control Wdate-date"
								dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
								
								日期范围查询 
							<#form:input path="dbilldate_gte" readonly="true"  maxlength="20" class="form-control Wdate-date"
							     dataFormat="date" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(dbilldate_lte)}',isShowClear:true});"/>
							&nbsp;--&nbsp;
							<#form:input path="dbilldate_lte" readonly="true"  maxlength="20" class="form-control Wdate-date"
								dataFormat="date" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(dbilldate_gte)}',isShowClear:true});"/> 
						</div>
					</div> -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="button" onclick="resetBtn()" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
		<div id="showRefData">
			<ul>
				<!-- 动态存放参照模糊查询数据 -->
			</ul>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
	     {header:'${text("组织")}', name:'pkOrg.officeName', index:'a.pk_org', width:150, align:"center"},
		{header:'${text("项目信息")}', name:'pkProjectid.name', index:'a.pk_projectid', width:150, align:"left"},
		{header:'${text("名称")}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text("业态")}', name:'pkFormattypeid.name', index:'a.pk_formattypeid', width:150, align:"left"},
		{header:'${text("面积")}', name:'builtuparea', index:'a.builtuparea', width:150, align:"right", classes:"color-area-label",formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, true, '0.00'); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("产证面积")}', name:'innerarea',hidden:true, index:'a.innerarea', width:150, align:"right", classes:"color-area-label",formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, true, '0.00'); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("编码")}', name:'code', index:'a.code', width:150, align:"left"},
		{header:'${text("是否车位")}', name:'isCw',index:'a.is_cw', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("否")}', true);
		}},
		{header:'${text("制单人")}', name:'creator.userName', index:'a.creator', width:150, align:"center"},
		{header:'${text("制单日期")}', name:'dbilldate', index:'a.dbilldate', width:150, align:"center"},
		{header:'${text("修改人")}', name:'modifier.userName', index:'a.modifier', width:150, align:"center"},
		{header:'${text("修改日期")}', name:'modifiedtime', index:'a.modifiedtime', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions',hidden:true, width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('zl:zlFamilyfile:edit')){ %>
				actions.push('<a href="javascript:void(0);" data-url="${ctx}/zl/zlFamilyfile/bianji?pkFamilyfile='+row.pkFamilyfile+'&isEdit=true" onclick="bianji33(this, false)" title="${text("编辑户型信息")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				//actions.push('<a href="${ctx}/zl/zlFamilyfile/form?pkFamilyfile='+row.pkFamilyfile+'&isEdit=true" class="btnList" title="${text("编辑户型信息")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/zl/zlFamilyfile/delete?pkFamilyfile='+row.pkFamilyfile+'" class="btnList" title="${text("删除户型信息")}" data-confirm="${text("确认要删除该户型信息吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	lazyLoad: true,//懒加载，当调用 dataGrid.refresh()时再进行加载
	editGrid: false,				// 是否是编辑表格
	// 加载成功后执行事件
	ondblClickRow: function(id, rownum, colnum, event){//双击方法
		js.addTabPage($("#dataGrid"), "查看户型档案", "/js/a/zl/zlFamilyfile/form?pkFamilyfile="+id+"&isEdit=false", null, null);//弹出新的标签页
	},
	ajaxSuccess: function(data){
		
	}
});
</script>
<script src="${ctxStatic}/js/refPBFF.js"></script>
<script src="${ctxStatic}/zl/zlFamilyfile/zlFamilyfileList.js"></script>